$font-family: 'Microsoft Yahei',Verdana,Arial;
$font-size: 13px;
$color: #666 #246db9 !default;
$lte7: true !default;
$css3: true !default;

@mixin float($float: left) {
	float: $float;
	@if $lte7 {
		display: inline
	}
}

@mixin inline-block {
	display: inline-block;
	@if $lte7 {
		*display: inline;
		*zoom: 1
	}
}

@mixin text-align($align: center) {
	text-align: $align
}

@mixin opacity($opacity) {
	filter: alpha(opacity=$opacity * 100);
	-moz-opacity: $opacity;
	opacity: $opacity;
}
@mixin filter($filter) {
	-webkit-filter: grayscale($filter);
	-moz-filter: grayscale($filter);
	-ms-filter: grayscale($filter);
	-o-filter: grayscale($filter);
	filter: grayscale($filter);
}
@mixin border-radius($radius) {
	border-radius: $radius;
}

html,
body,
hr,
p,
blockquote,
dl,
dt,
dd,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
table,
th,
td,
figure,
figcaption,
em
{
	border: 0;
	padding: 0;
	margin: 0;
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0
}

input,
select,
textarea,
button {
	vertical-align: middle;
	font-size: $font-size;
	font-family: $font-family;
}

button {
	cursor: pointer;
	background: none;
}
img {
	border: 0;
	vertical-align: middle;
}
a {
	color: nth($color, 1);
	text-decoration: none;
	outline: 0;

	blr: expression(this.onFocus=this.blur());

	&:hover {
		color: nth($color, 2);
		text-decoration: none
	}
}

.list-unstyled {
	margin: 0!important;
	padding: 0!important;
	list-style: none;
	& > li {
		padding-left: 0!important;
		list-style: none;
	}
}

* {
	outline: 0;
}

.pull-left {
	@include float(left);
}
.pull-right {
	@include float(right);
}
.text-center {
	@include text-align(center);
}
.text-left {
	@include text-align(left);
}
.text-right {
	@include text-align(right);
}

.clearfix {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

.clear {
	clear: both;
	*zoom: 1;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden
}

html,
body {
	color: nth($color, 1);
	font-size: $font-size;
	font-family: $font-family;
	height: 100%;
	background: #fff;
}


